<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= mytitle %> </title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>
        What is your name ?
    </h1>

    <form action="/" method="post">
        <input type="text" name="userNamee" > <br> <br>
        <button type="submit">save </button>
    </form>
<div>_____________________ 116 v __________________________</div>



<!-- .at(-1) to get last opject from array  -->
<h1>
    name is "   <%=  arr.at(-1).userNamee %> "
</h1>

<div>_____________________ 150 v __________________________</div>

</body>
</html>